<div class="center jumbotron">
  <h1>Twitter Clone</h1>
  <h2>    
    <p>This is the home page for the Twitter-like App </p>
    <p>developed using Michael Hartl's
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    </p> 
  </h2>
    <%= link_to "Welcome!", login_path, class: "btn btn-lg btn-primary" %> 
</div>
