<footer class="footer">
  <small>  
    &copy; <%= copyright_notice_year_range(2005) %> <%= link_to "Svitlana Gubernator", "https://github.com/s-gubernator" , target: '_blank', rel: 'noopener' %>  All Rights Reserved
   </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Contact", page_path('contact') %></li>      
    </ul>
  </nav>
</footer>
